* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-100: #1f3a5f;
  --primary-200: #4d648d;
  --primary-300: #acc2ef;
  --accent-100: #3d5a80;
  --accent-200: #cee8ff;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #0f1c2e;
  --bg-200: #1f2b3e;
  --bg-300: #374357;
}

.header {
  height: 98%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* background-color: #0f1c2e; */
}

.text {
  position: relative;
  /* background-color: #4d648d; */
  height: 90%;
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  flex-direction: column;
  text-transform: capitalize;
}

.texth1 {
  font-size: 120px;
}

.texth6 {
  font-size: 32px;
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.line {
  height: 5px;
  width: 70%;
  background-color: #e0e0e0;
}
.texth11 {
  font-size: 55px;
}
span {
  color: #295591;
}

.button {
  border: 1px solid white;
  position: absolute;
  left: 80%;
  padding: 10px;
  color: white;
  text-decoration: none;
    font-weight: 700;
    font-size: 20px;
  border-radius: 50px;
  transition: .4s ease-in-out;
}

.button:hover{
    background-color: white;
    color: #0f1c2e;
    font-weight: 700;
}